@import 'settings';
@import 'foundation-emails';

.ms-font-color-themePrimary {
	color: #493728!important;
}

.ms-border-color-themePrimary {
	border: none!important;
	border-color: transparent!important;
}

p, h1, h2, h3, h4 {
	overflow-wrap: break-word!important;
	word-wrap: break-word!important;
	-moz-hyphens: none!important;
	-ms-hyphens: none!important;
	-webkit-hyphens: none!important;
	hyphens: none!important;
}


table.button {

	&.large {
		line-height: 1!important;
		
		table td {
			padding: 12px 24px 12px 24px;
			
			@media screen and (max-width: 596px){
				padding: 17px 19px 17px 19px!important;
			}

			@media screen and (max-width: 425px) {
				padding: 12px 13px 12px 13px!important;
			}
			
			@media screen and (max-width: 375px) {
				padding: 11px 12px 11px 12px!important;
			}
			
			@media screen and (max-width: 320) {
				padding: 11px 12px 11px 12px!important;
			}
					
			a {
				font-size: 19px;
				text-decoration: none;
				line-height: 1!important;
				
				@media screen and (max-width: 596px){
					font-size: 21px!important;
				}
				
				@media screen and (max-width: 425px) {
					font-size: 15px!important;
				}
				
				@media screen and (max-width: 375px) {
					font-size: 13px!important;
				}
				
				@media screen and (max-width: 320) {
					font-size: 13px!important;
				}
			}
		}
		
		&.red {
			table td {
				border: none;
				background: #9e0b0f;
	
				a {
					color: #ffffff;
					padding: 0px;
				}
			}
		}
	}
	
	&.small {
		line-height: 1!important;
		
		table td {
			padding: 8px 24px 8px 24px;

			@media screen and (max-width: 596px){
				padding: 15px 21px 15px 21px!important;
			}
			
			@media screen and (max-width: 425px) {
				padding: 11px 15px 11px 15px!important;
			}
			
			@media screen and (max-width: 375px) {
				padding: 9px 13px 9px 13px!important;
			}
			
			a {
				line-height: 1!important;
				font-size: 14px;
				text-decoration: none!important;			
				
				@media screen and (max-width: 596px){
					font-size: 19px!important;
				}
				
				@media screen and (max-width: 425px) {
					font-size: 13px!important;
				}
				
				@media screen and (max-width: 375px) {
					font-size: 12px!important;
				}
			}
		}
		
		&.red {
			background: #9e0b0f!important;
		}		
	}	
}

table.button {
	padding: 0;
	
	&.secondary {
		&.large {
			table td {				
				padding: 16px 33px 16px 33px;
		
				@media screen and (max-width: 596px) {
					padding: 16px 33px 16px 33px !important
				}

//
//				@media screen and (max-width: 425px) {
//					padding: 12px 16px 12px 16px!important;
//				}
//
//				@media screen and (max-width: 375px) {
//					padding: 8px 10px 8px 10px !important;
//				}
//
//				@media screen and (max-width: 320px) {
//					padding: 4px 12px 4px 12px !important;
//				}
						
				a {
					line-height: 1!important;
					font-size: 24px;
					font-weight: 400!important;
					text-decoration: none;
					
					@media screen and (max-width: 596px) {
						font-size: 24px!important;
					}
					
					
					@media screen and (max-width: 425px) {
						font-size: 22px!important;
					}
					
					@media screen and (max-width: 375px) {
						font-size: 18px!important;
					}

					@media screen and (max-width: 320px) {
						font-size: 15px!important;
					}
				}
			}
		}
	}
}

h1 {
	&.holidayList {
		margin-bottom: 0;
		line-height: 1.1;
		font-size: 42px;
		
		@media screen and (max-width: 596px) {
			font-size: 42px!important;
		}

		@media screen and (max-width: 425px) {
			font-size: 30px!important;
		}

		@media screen and (max-width: 375px) {
			font-size: 27px!important;
		}
		
		@media screen and (max-width: 320px) {
			font-size: 23px!important;
		}
	}
	
	&.holidaySubHeadline {
		margin-bottom: 0;
		line-height: 1.1;
		font-size: 28px;
		
		@media screen and (max-width: 596px) {
			font-size: 26px!important;
		}

		@media screen and (max-width: 425px) {
			font-size: 28px!important;
		}

		@media screen and (max-width: 375px) {
			font-size: 27px!important;
		}
		
		@media screen and (max-width: 320px) {
			font-size: 26px!important;
		}
	}
}


h1 {
	&.heroHeadline {
		margin-bottom: 0;
		line-height: 1.1;
		font-size: 30px;
		
		@media screen and (max-width: 596px) {
			font-size: 28px!important;
		}

		@media screen and (max-width:475px) {
			font-size: 24px!important;
		}

		@media screen and (max-width: 425px) {
			font-size: 19px!important;
		}

		@media screen and (max-width: 375px) {
			font-size: 16px!important;
		}
		
		@media screen and (max-width: 320px) {
			font-size: 14px!important;
		}
	}
	
	&.secondaryHeroHeadline {
		margin-bottom: 0;
		font-size: 35px;
		line-height: 1.1!important;
		
		@media screen and (max-width: 596px) {
			font-size: 35px!important;
		}

		@media screen and (max-width: 492px) {
			font-size: 35px!important;
		}

		@media screen and (max-width: 425px) {
			font-size: 28px!important;
		}

		@media screen and (max-width: 375px) {
			font-size: 26px!important;
		}
		
		@media screen and (max-width: 320px) {
			font-size: 22px!important;
		}
	}
	
	&.holidayGuideHeadline {
		margin-bottom: 0;
		font-size: 31px;
		line-height: 1.1!important;
		
		@media screen and (max-width: 596px) {
			font-size: 30px!important;
		}

		@media screen and (max-width: 492px) {
			font-size: 25px!important;
		}

		@media screen and (max-width: 425px) {
			font-size: 21px!important;
		}

		@media screen and (max-width: 375px) {
			font-size: 19px!important;
		}
		
		@media screen and (max-width: 320px) {
			font-size: 16px!important;
		}		
	}
	
	&.givingTuesdayHeadline, &.causeBanner {
		font-size: 30px;
		line-height: 1.1;
		margin-bottom: 0;
		
		@media screen and (max-width: 475px) {
			font-size: 26px!important;
		}
		
		@media screen and (max-width: 425px) {
			font-size: 24px!important;
		}

		@media screen and (max-width: 375px) {
			font-size: 20px!important;
		}

		@media screen and (max-width: 320px) {
			font-size: 18px!important;
		}
	}
}


h4 {
	@media screen and (max-width: 596px) {
		font-size: 20px!important;
	}
	
	@media screen and (max-width: 475px) {
		font-size: 19px!important;
	}
	
	@media screen and (max-width: 425px) {
		font-size: 20px!important;
	}
		
	@media screen and (max-width: 375px) {
		font-size: 19px!important;
	}
	
	@media screen and (max-width: 320px) {
		font-size: 17px!important;
	}
}


p {
	font-size: 18px;

	strong {
		font-size: 18px;
	}

	@media screen and (max-width: 596px) {

		font-size: 18px !important;

		strong {
			font-size: 18px !important;
		}
	}

	@media screen and (max-width:425px) {

		font-size: 15px !important;

		strong {
			font-size: 14px !important;
		}
	}

	@media screen and (max-width: 375px) {

		font-size: 16px !important;

		strong {
			font-size: 15px !important;
		}
	}

	@media screen and (max-width: 320px) {

		font-size: 13px !important;
	
		strong {
			font-size: 12px !important;
		}
	}
}

	
.yellowUnderline{
	.columns{padding-bottom:8px!important;}
}


hr {
	height: 0px!important;
	border-bottom-width:1px;
	border-bottom-color: #493728;
	border-bottom-style: solid;
	border-top-color: #493728;
	border-top-style: solid;
	border-top-width: 0px;
	border-left-color: #493728;
	border-left-style: solid;
	border-right-color: #493728;
	border-right-style: solid;
	color: #493728;
	background-color: #493728;
	margin: 0;
	
	&.yellowHR {
		color: #a48a3e;
		border-bottom-color: #a48a3e;
		border-top-color: #a48a3e;
		border-left-color: #a48a3e;
		border-right-color: #a48a3e;
		background-color: #a48a3e;
	}
}

.footerHR{
	.columns{
		padding-left:0px!important; padding-right:0px!important;
	}
}

@media screen and (max-width: 596px) {
	table {
		th {
			p {
				strong {
					font-size: 14px;
				}
				
				a {
					strong {
						font-size: 14px;
					}
				}
			}
		}
	}
	
	.mainCTA {
		a {
			font-size: 13px!important;
		}	
	}
}

p {	
	&.specialSomeone {
		
		font-size: 18px;
		
		@media screen and (max-width: 596px) {
			font-size: 18px!important;
		}
		
		@media screen and (max-width: 375px) {
			font-size: 16px!important;
		}
		
		@media screen and (max-width: 320px) {
			font-size: 14px!important;
		}
	}
}

a {
	&.brownLink {
		text-decoration: none;
		color:#493728; 
		font-weight: bold;
	}
}

// FOOTER STYLES
.footer {
	background: #ffffff;
	background-color: #ffffff;
		
	&.yellowBG {
		background: $footer-background-color !important;
		background-color: $footer-background-color !important;		
	}
	
	p {
		font-size:19px;
		
		strong {
			font-size: 18px;
		}
		
		@media screen and (max-width: 596px) {
			font-size: 22px !important;

			strong {
				font-size: 21px !important;
			}
		}

		@media screen and (max-width:425px) {
			font-size: 16px !important;

			strong {
				font-size: 15px !important;
			}
		}

		@media screen and (max-width: 375px) {
			font-size: 14px!important;

			strong {
				font-size: 13px!important;
			}
		}

		@media screen and (max-width: 320px) {
			font-size: 14px!important;
	
			strong {
				font-size: 13px!important;
			}
		}	
			
		&.legal {
			font-size: 12px!important;
			margin-bottom: 0;
		}			
	}
	
	
	.bottomCopy {
		
		p {
			font-size: 13px;

			a {
				strong {
					font-size: 13px;
				}
			}
			
			@media screen and (max-width: 596px) {
				a {
					strong {
						font-size: 13px;
					}
				}
			}
			
			@media screen and (max-width: 425px) {
				a {
					strong {
						font-size: 13px;
					}
				}
			}
		}
	}
}


//.givingReminderFirst {
//	font-size: 19px;
//
//	@media screen and (max-width: 596px) {
//		font-size: 18px!important;
//	}
//
//	@media screen and (max-width: 475px) {
//		font-size: 17px!important;
//	}
//
//	@media screen and (max-width: 425px) {
//		font-size: 16px!important;
//	}
//
//	@media screen and (max-width: 375px) {
//		font-size: 16px!important;
//	}
//
//	@media screen and (max-width: 325px) {
//		font-size: 16px!important;
//	}
//}

//.givingReminderSecond {
//	font-size: 16px;
//
//	@media screen and (max-width: 596px) {
//		font-size: 16px!important;
//	}
//
//	@media screen and (max-width: 475px) {
//		font-size: 16px!important;
//	}
//
//	@media screen and (max-width: 425px) {
//		font-size: 15px!important;
//	}
//
//	@media screen and (max-width: 375px) {
//		font-size: 13px!important;
//	}
//
//	@media screen and (max-width: 325px) {
//		font-size: 13px!important;
//	}
//}


h1.gift-builder-section {
	font-size: 32px;

	@media screen and (max-width:492px){
		font-size: 32px!important;
	}

	@media screen and (max-width:425px){
		font-size: 28px!important;
	}

	@media screen and (max-width:375px){
		font-size: 24px!important;
	}

	@media screen and (max-width: 320px){
		font-size: 20px!important;
	}
}
//
//
//.box-copy {
//	@media screen and (max-width: 596px) {
//		padding-left: 10px!important;
//		padding-right: 10px!important;
//	}
//}
//
.right-padding-32 {
	padding-right: 42px;

	@media screen and (max-width:596px) {
		padding-right: 10px!important;
	}

	@media screen and (max-width:375px) {
		padding-right: 6px!important;
	}

	@media screen and (max-width:320px) {
		padding-right: 4px!important;
	}
}

.left-padding-32 {
	padding-left: 42px;

	@media screen and (max-width:596px) {
		padding-left: 10px!important;
	}

	@media screen and (max-width:375px) {
		padding-left: 6px!important;
	}

	@media screen and (max-width:320px) {
		padding-left: 4px!important;
	}
}