<wrapper class="footer" bgcolor="#FFF">
	<row>
		<columns class="show-for-large" large="1"></columns>
		<columns small="12" large="10">
			<spacer size="29"></spacer>
			<center><img src="{{defaultImgPath}}question.jpg" width="50" height="51" alt="Need Help?"></center>
			<spacer size="10"></spacer>
			<p class="text-center"><strong>NEED HELP?</strong></p>
			<p class="text-center">If you have any questions or need help with your account, you may <a href="http://www.burtsbees.com/Contact-Us/contact-us,default,pg.html?cm_mmc=Email-_-12.19.16.Tiered_GWP_5of5-_-footer-_-contactusmain"><strong>Contact Us</strong></a> to&nbsp;assist&nbsp;you.</p>
		</columns>
		<columns class="show-for-large" large="1"></columns>
	</row>

	<row>
		<columns>
			<spacer size="10"></spacer>
		</columns>
	</row>
	
	<row>
		<columns small="12" large="8">
			<center><img src="{{defaultImgPath}}contact.jpg" width="50" height="51" alt="Customer Service"></center>
			<spacer size="10"></spacer>
			<p class="text-center"><strong>CUSTOMER SERVICE</strong></p>
			<p class="text-center"><a href="#" style="text-decoration: none; color: #493728;">Monday to Friday, 10:00 am to 6:00 pm EST</a></p>
			<center><p class="text-center"><a href="tel:+18008497112"><strong>1 (800) 849-7112</strong></a></p></center>
		</columns>
	</row>

	<row class="TSClass">
		<columns>
			<spacer size="20"></spacer>
		</columns>
	</row>
	
</wrapper>

<wrapper class="footer yellowBG" bgcolor="#f9d35b">
	<row>
		<columns small="12" large="12">
			<spacer size="15"></spacer>
		</columns>
	</row>
	
	<row>
		<columns small="12" large="12" class="small-text-center large-text-center" style="padding-bottom: 0px;">
			<p><center>
				<button href="http://www.burtsbees.com/Store-Locator/store-locator,default,pg.html?cm_mmc=Email-_-12.19.16.Tiered_GWP_5of5-_-footer-_-findastore" class="large secondary">FIND A STORE</button>
			</center></p>
		</columns>
	</row>

	<row>
		<columns small="12" large="12">
			<spacer size="2"></spacer>
		</columns>
	</row>
	
	<row class="collapse footerHR">
		<columns small="1"></columns>
		<columns small="10">
			<hr noshade class="yellowHR" style="margin-top: 18px;">
		</columns>
		<columns small="1"></columns>
	</row>
	
	<row>
		<columns small="2"></columns>
		<columns small="2">
				<a href="http://www.facebook.com/burtsbees">
					<center>
						<img src="{{defaultImgPath}}facebook.png" width="30" height="30" alt="Facebook" style="color:black;font-size:15px;" />
					</center>
				</a>
		
		</columns>

		<columns small="2">
				<a href="https://www.instagram.com/burtsbeesus/">
					<center>
						<img src="{{defaultImgPath}}instagram.png" width="30" height="30" alt="Instagram" style="color:black;font-size:15px;" />
					</center>
				</a>
		</columns>

		<columns small="2">
				<a href="http://twitter.com/BurtsBees">
					<center>
						<img src="{{defaultImgPath}}twitter.png" width="30" height="30" alt="Twitter" style="color:black;font-size:15px;"/>
					</center>
				</a>
		</columns>

		<columns small="2">
				<a href="http://pinterest.com/burtsbees/">
					<center>
						<img src="{{defaultImgPath}}pinterest.png" width="30" height="30" alt="Pinterest" style="color:black;font-size:15px;" />
					</center>
				</a>
			</columns>
		<columns small="2"></columns>
	</row>
	
	<row class="collapse footerHR">
		<columns small="1"></columns>
		<columns small="10">
			<hr noshade class="yellowHR">
		</columns>
		<columns small="1"></columns>
	</row>

	<row class="bottomCopy">
		<columns small="1"></columns>
		<columns small="10" >
			<p class="text-center"  style="margin-top: 5px!important; margin-bottom: 20px;">
				&copy; 2016 Burt's Bees<sup><small>&reg;</small></sup>
			</p>
			<p class="text-center" style="padding-left:0px;padding-right:0px; margin-bottom: 20px;">
				<a href="http://www.burtsbees.com/Privacy-and-Security/privacy-policy,default,pg.html?cm_mmc=Email-_-12.19.16.Tiered_GWP_5of5-_-footer-_-privacyfooter"><strong>Privacy Policy</strong></a> | <a href="http://www.burtsbees.com/on/demandware.store/Sites-burtsbees-Site/default/EmailSignup-Unsubscribe?cm_mmc=Email-_-12.19.16.Tiered_GWP_5of5-_-footer-_-unsubscribefooter"><strong>Unsubscribe</strong></a> | <a href="http://www.burtsbees.com/Contact-Us/contact-us,default,pg.html?cm_mmc=Email-_-12.19.16.Tiered_GWP_5of5-_-footer-_-contactusfooter"><strong>Contact&nbsp;Us</strong></a>
			</p>	
			<p class="text-center" style="margin-bottom: 20px;">
				You received this email because <a href="mailto:%%EMAIL%%" target="_blank"><strong>%%EMAIL%%</strong></a> registered to receive Burt's Bees emails having signed up at <a href="http://www.burtsbees.com/?cm_mmc=Email-_-12.19.16.Tiered_GWP_5of5-_-footer-_-sitelink" target="_blank" style="color: #493728 !important;"><strong>www.burtsbees.com</strong></a>
			</p>
			
			<p class="text-center" style="margin-bottom: 2px!important;">
				Burt's Bees Inc.
			</p>
			<p class="text-center" style="margin-bottom: 2px!important;">
				<span style="text-decoration: none!important; color:#493728!important;"><a href="#" style="text-decoration: none; color: #493728;">210 West Pettigrew Street</a></span>
			</p>
			<center><p class="text-center" style="text-decoration: none; color: #493728 !important;">
				<a href="#" style="text-decoration: none; color: #493728;">Durham NC 27701</a></center>
			</p>	
		</columns>
		<columns small="1"></columns>
	</row>

</wrapper>