<wrapper style="background-color: #F9D15A; background-position: top left; background: -moz-linear-gradient(15deg, sans(251,188,86) 0%, rgb(249,209,90) 33%, rgba(249,209,90) 63%, rgb(251,188,86) 100%); background: -webkit-gradient(left bottom, right top, color-stop(0%, rgb(251,188,86)), color-stop(33%, rgb(249,209,90)), color-stop(63%, rgb(249,209,90)), color-stop(100%, rgb(251,188,86))); background: -webkit-linear-gradient(15deg, rgb(251,188,86) 0%, rgb(249,209,90) 33%, rgb(249,209,90) 63%, rgb(251,188,86) 100%);background: -o-linear-gradient(15deg, rgb(251,188,86) 0%, rgb(249,209,90) 33%, rgb(249,209,90) 63%, rgb(251,188,86) 100%); background: -ms-linear-gradient(15deg, rgb(251,188,86) 0%, rgb(249,209,90) 33%, rgb(249,209,90) 63%, rgb(251,188,86) 100%); background: linear-gradient(15deg, rgb(251,188,86) 0%, rgb(249,209,90) 33%, rgb(249,209,90) 63%, rgb(251,188,86) 100%); border-bottom:2px solid #cf3810; border-spacing:0; padding:0; text-align:left; vertical-align:top; width:100%; background-image: url(https://mbhtmlnewsletters.s3.amazonaws.com/burtsbees/HolidayArchetypes/snowHeader.jpg); background-size: cover;">
	<spacer size="20"></spacer>
	<row>
		<columns small="5"></columns>
		<columns small="2" valign="middle" style="padding-left: 6px!important; padding-right: 6px!important;">
			<center>
				<a href="http://www.burtsbees.com/?cm_mmc=Email-_-12.19.16.Tiered_GWP_5of5-_-header-_-logo"><img  align="right" src="{{defaultImgPath}}bee_logo.gif" alt="Burts Bees" width="78" height="67" style="font-size: 10px;" /></a>
			</center>
		</columns>
		
		<columns small="5" valign="bottom" >
			<span class="show-for-large">
				<p class="text-right" style="font-size: 14px; margin-bottom: 0;">
					<a xt="SPCLICKTOVIEW" href="#SPCLICKTOVIEW?cm_mmc=Email-_-12.19.16.Tiered_GWP_5of5-_-header-_-viewinbrowser">View in browser</a>
				</p>
			</span>
		</columns>
	</row>
</wrapper>
