<!-- EMAIL body -->
<wrapper>
	<img src="{{root}}/assets/img/headerImg.jpg" />
	
	<row>
		<columns small="12">
			<spacer size="20"></spacer>
			
			<h1 class="text-center">This Wedding Season</h1>
			<h2 class="text-center"><strong>PINK LIPS ARE IT.</strong></h2>
		</columns>
	</row>
	
	<row>
		<columns small="5" large="3">
			<center>
				<img src="{{root}}/assets/img/georgieEisdell.jpg" width="104" height="104">
				<p class="text-center">
					<strong><small>Georgie Eisdell</small></strong><br>
					<small>Celebrity Makeup Artist</small>
				<p>
			</center>
		</columns>
		
		<columns small="6" large="6">
			<p class="text-left">
				It may not be your big day, 
				but Celebrity Makeup Artist
				Georgie Eisdell believes every
				day is an opportunity for beautiful
				lip. She loves Iced Iris, Fuchsia Flood,
				and Magenta Rush this wedding season.
			</p>
		</columns>
	</row>
	
	<row>
		<columns small="12">
			<h1 class="text-center"><strong>GEORGIE'S FAVORITE WEDDING COLORS</strong></h1>
		</columns>
	</row>
</wrapper>