<!-- EMAIL body -->
<wrapper class="collapse">
	<img src="{{defaultImgPath}}headerImgWelcome.jpg" width="640" height="517" alt="Welcome to THE HIVE" />

	<center><img src="{{defaultImgPath}}welcomeExcited.jpg" width="365" height="46" alt="We're so excited to offer" /></center>	
</wrapper>

<wrapper>	
	<row>
		<columns small="12">
			<h1 class="text-center" style="margin-bottom: 0px;"><strong>FREE SHIPPING FOR OUR NEW BEE</strong></h1>
		</columns>
	</row>
	

	<wrapper class="welcomBeePathBG" background="{{defaultImgPath}}welcomeBeePathBG.jpg">
		<!--[if gte mso 9]>
		  <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="f">
		    <v:fill type="frame" src="assets/img/welcomeBeePathBG.jpg" color="#7bceeb"/>
		  </v:background>
		  <![endif]-->
		<row>
			<columns small="12">
				<spacer size="30"></spacer>
				
				<p class="text-center"><em>Enjoy FREE shipping on your next order with this code*:</em></p>
				<br>
				<p class="text-center" style="margin-bottom: 30px;"><strong style="padding-bottom: 8px; padding-left: 16px; padding-right: 16px; border-bottom-style: solid; border-bottom-width: 8px; border-bottom-color: #f7d363;">NEWBEE2016<strong></p>
			</columns>
		</row>
	
		<row>
			<columns small="12">
				<center>
					<div><!--[if mso]>
					  <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://www.burtsbees.com/Best-Sellers/bestSellers,default,sc.html" style="height:55px;v-text-anchor:middle; width:300px;" strokecolor="#493728">
					    <w:anchorlock/>
					    <center style="color:#493728; font-family:sans-serif; font-size:24px; font-weight:bold;padding-bottom:16px;">SHOP BEST SELLERS</center>
					  </v:rect>
					<![endif]--><a href="http://www.burtsbees.com/Best-Sellers/bestSellers,default,sc.html"
					style="margin-bottom: 16px; border:2px solid #493728; color:#493728; display:inline-block; font-family:sans-serif; font-size:24px; font-weight:bold; line-height:55px; text-align:center; text-decoration:none;width:300px; -webkit-text-size-adjust:none; mso-hide:all;">SHOP BEST SELLERS</a></div>
				</center>
			</columns>
		</row>
	</wrapper>


	<row>
		<columns small="12" large="12">
			<spacer size="30"></spacer>
			<p class="text-center"><strong>Check out these perks for Hive members:</strong></p>
		</columns>
		
	</row>
	
	<row class="sub-content" >
		<columns small="1"></columns>
		<columns small="4" large="4">
			<img class="float-center" src="{{defaultImgPath}}welcomeFirstToKnow.jpg" width="133" height="153" alt="First to know" style="padding-left: 0; padding-right: 0;color:black;" />
		</columns>
		<columns small="6" large="6" valign="middle">
			<p class="headline"><strong>First to know</strong></p>
			<p class="subhead">About promotions and new products</p>
		</columns>
		<columns small="1"></columns>
	</row>
	
	<row class="sub-content right-align rtl" dir="rtl" >
		<columns small="1"></columns>
		<columns small="4" large="4">
			<center><img src="{{defaultImgPath}}welcomeMembersOnly.jpg" width="133" height="153" alt="Members-only" style="padding-left: 0; padding-right: 0;color:black;" /></center>
		</columns>
		<columns small="6" large="6" valign="middle" style="padding-right: 16px;">
			<p class="headline text-right"><strong>Exclusive members-only</strong></p>
			<p class="subhead text-right">Gifts, samples &amp;&nbsp;offers</p>
		</columns>
		
		<columns small="1"></columns>
	</row>
	
	<row class="sub-content ">
		<columns small="1"></columns>
		<columns small="4" large="4" >
			<img class="float-center" src="{{defaultImgPath}}welcomeFreshContent.jpg" width="133" height="153" alt="Fresh content" style="padding-left: 0!important; padding-right: 0!important;color:black;" />
		</columns>
		<columns small="6" large="6" valign="middle">
			<p class="headline"><strong>Fresh content and news</strong></p>
			<p class="subhead">On the things you&nbsp;love</p>
		</columns>
		<columns small="1"></columns>
	</row>

	<row class="sub-content right-align rtl" dir="rtl" >
		<columns small="1"></columns>
		<columns small="4" large="4">
			<center><img src="{{defaultImgPath}}welcomeTips.jpg" width="133" height="153" alt="Tips and tricks" style="padding-left: 0; padding-right: 0;color:black;" /></center>
		</columns>
		<columns small="6" large="6" valign="middle" style="padding-right: 16px;">
			<p class="headline text-right"><strong>Top industry tips and tricks</strong></p>
			<p class="subhead text-right">For your favorite products</p>
		</columns>
		
		<columns small="1"></columns>
	</row>

	<row>
		<columns small="12">
			<spacer size="8"></spacer>
			<hr>
			<spacer size="8"></spacer>
		</columns>
	</row>
