<!-- EMAIL body -->
<wrapper class="collapse">
	<img src="{{defaultImgPath}}headerImg0927.jpg" width="600" height="515" alt="It&#39;s all for you, Honey" />
</wrapper>

<wrapper>	
	<row>
		<columns small="12">
			<spacer size="20"></spacer>
			
			<h1 class="text-center" style="margin-bottom: 0px;">Introducing an all-new</h1>
			<h1 class="text-center" style="margin-bottom: 20px;"><strong><span style="text-decoration: none; color: #493728;"><a href="#" class="brownLink" style="text-decoration: none; color:#493728;  font-weight: bold;">BURTSBEES.COM</a></span></strong></h1>
		</columns>
	</row>
	
	<row>
		<columns small="1"></columns>
		<columns small="10" class="no-padding">
			<p class="text-center">
				Back at the hive, we always strive to make your customer experience just a little bit sweeter. That’s why we’re buzzing about our new website that looks and feels as great as the products you love.
			</p>
		</columns>
		<columns small="1"></columns>
	</row>
	
	<row>
		<columns small="12">
			<center>
				<button href="http://www.burtsbees.com/?cm_mmc=Email-_-10.07.16.SiteLaunch-_-body1-_-exploremore" class="large">EXPLORE MORE</button>
			</center>
		</columns>
	</row>
	
	<row>
		<columns large="3"></columns>
		<columns small="12" large="9"> 
			<p class="text-center">CLICK OUR NEW HOMEPAGE ICON MENU TO START&nbsp;NAVIGATION</p>
			
			<spacer size="20"></spacer>
		</columns>
		<columns large="3"></columns>
	</row>
	
	<row>
		<columns small="12">
			<center><img src="{{defaultImgPath}}animatedGif0927.gif" width="550" alt="CLICK OUR NEW HOMEPAGE ICON MENU TO START NAVIGATION" /></center>
		</columns>
	</row>
	
	<row>
		<columns small="12">
			<spacer size="30"></spacer>
			<hr noshade>
			<spacer size="30"></spacer>
		</columns>
	</row>
	
	<row>
		<columns>
			<h4 class="text-center"><strong>NEW! FRESH, FUN&nbsp;FEATURED&nbsp;CONTENT</strong></h4>
		</columns>
	</row>
 	
	
	<row class="sub-content">
		<columns small="1"></columns>
		<columns small="4" large="3">
			<img class="float-center" src="{{defaultImgPath}}lightbulb0927.jpg" width="109" height="125" alt="How To" style="padding-left: 0; padding-right: 0;" />
		</columns>
		<columns small="6" large="7" valign="middle">
			<p class="headline"><strong>HOW-TO</strong></p>
			<p class="subhead">All the best, fresh industry tips and tricks</p>
			<button href="http://www.burtsbees.com/content/how-to/?cm_mmc=Email-_-10.07.16.SiteLaunch-_-body2-_-howto">CHECK IT OUT</button>
		</columns>
		<columns small="1"></columns>
	</row>
	
	<row>
		<columns>
			<spacer size="16"></spacer>
		</columns>
	</row>
	
	<row class="sub-content right-align rtl" dir="rtl" >
		<columns small="1"></columns>
		<columns small="4" large="3">
			<center><img src="{{defaultImgPath}}lifestyle0927.jpg" width="109" height="125" alt="The Buzz" style="padding-left: 0!important; padding-right: 0!important;" /></center>
		</columns>
		<columns small="6" large="7">
			<p class="headline"><strong>THE BUZZ</strong></p>
			<p class="subhead">Hot topics, news and upcoming events</p>
			<table class="button" align="left">
			  <tr>
			    <td>
			      <table>
			        <tr>
			          <td><a href="http://www.burtsbees.com/content/the-buzz/?cm_mmc=Email-_-10.07.16.SiteLaunch-_-body2-_-thebuzz">CHECK IT OUT</a></td>
			        </tr>
			      </table>
			    </td>
			  </tr>
			</table>
		</columns>
		
		<columns small="1"></columns>
	</row>
		
	<row>
		<columns>
			<spacer size="16"></spacer>
		</columns>
	</row>
	
	<row class="sub-content ">
		<columns small="1"></columns>
		<columns small="4" large="3" >
			<img class="float-center" src="{{defaultImgPath}}honeypot0927.jpg" width="109" height="125" alt="Honey Jar" style="padding-left: 0!important; padding-right: 0!important;" />
		</columns>
		<columns small="6" large="7" valign="middle">
			<p class="headline"><strong>HONEY JAR</strong></p>
			<p class="subhead">Must-have outlet items are a click&nbsp;away</p>
			<button href="http://www.burtsbees.com/shop/the-honey-jar/?cm_mmc=Email-_-10.07.16.SiteLaunch-_-body2-_-honeyjar">SHOP NOW</button>
		</columns>
		<columns small="1"></columns>
	</row>
	
	
	<row>
		<columns style="background-color: #ffffff;">
			<spacer size="25"></spacer>
		</columns>
	</row>

	<wrapper  class="missionStatement"  bgcolor="#FFF">
		<img src="{{defaultImgPath}}missionStatement0927.jpg" width="600" height="382" alt="We're still the same bee you've always loved.">
	</wrapper>
</wrapper>

<row>
	<columns style="background-color: #ffffff;">
		<spacer size="10"></spacer>
	</columns>
</row>


