<!-- EMAIL body -->
<wrapper style="background: #ffffff">
	<row class="collapse" style="background: #ffffff">
		<img src="{{defaultImgPath}}headerGiftsAvailable.jpg" alt="Make giving natural this holiday." width="624" height="auto" style="width:100%!important; background: #ffffff;" />
	</row>
</wrapper>

<wrapper>
	<columns small="12" class="mainHeadline" style="background: #ffffff">
		<spacer size="30"></spacer>		
		<h1 class="text-center heroHeadline" style="font-size: 28px;">Easy holiday shopping comes naturally with</h1>
		<h1 class="text-center heroHeadline" style="margin-top: 5px; font-size: 28px;"><strong> OUR NEW HOLIDAY EDITION GIFT&nbsp;SETS</strong></h1>
	</columns>
</wrapper>

<wrapper style="background: #ffffff">
	<center><img src="{{defaultImgPath}}giftsAvailableGiftBox.jpg" width="600" height="auto" alt="Hydration Gift Set" style="width:100%!important;" /></center>
</wrapper>

<row style="background: #ffffff">
	<columns small="12">
		<spacer size="10"></spacer>
		<p class="text-center" style="margin-bottom: 0px;">
			<strong>Hydration Gift Set</strong>
		</p>
		<p class="text-center" style="margin-bottom: 0px;">
			The care necessities for everyone on your list
		</p>
		
		<spacer size="20"></spacer>
	</columns>
</row>


<row style="background: #ffffff">
	<columns small="12" large="12">
		<a href="http://www.burtsbees.com/product/hydration-gift-set/21508.html" target="_blank" alt="Hydration Gift Set"><center><img src="{{defaultImgPath}}giftsAvailableShopNow.jpg" width="327" height="auto" alt="Shop Now" /></center></a>
		
		<spacer size="30"></spacer>
	</columns>
</row>

<wrapper>
	<row class="collapse" style="background: #f5f4f2;">
		<columns small="6" style="padding-left: 8px!important;"  valign="middle">
			<p class="text-center" style="margin-bottom: 0px; padding-bottom: 0px;">
				<strong style="font-size: 18px;">Holiday Edition</strong>
			</p>
			
			<p class="text-center" style="margin-bottom: 0px; padding-bottom: 0px;">
				<strong style="font-size: 18px;">Travel Gift</strong>
			</p>
			
			<p class="text-center">
				Keep your jet&#45;setters joyful
			</p>
			
			<center>
				<button href="http://www.burtsbees.com/product/travel-holiday-edition/21543.html?cm_mmc=Email-_-11.08.16.Holiday_Gifts_Available-_-body2-_-travelgiftshop" class="button small red">SHOP NOW</button>	
			</center>	
		</columns>
		
		<columns small="6" valign="middle">
			<spacer size="10"></spacer>
			
			<img src="{{defaultImgPath}}giftsAvailableTravelGift.jpg" width="307" height="auto" alt="Holiday Edition Travel Gift" />
		</columns>
	</row>

</wrapper>


<wrapper>
	<row class="collapse" style="background: #ffffff;">
		<columns small="6" large="8" valign="middle">
			
			<spacer size="20"></spacer>
			
			<img src="{{defaultImgPath}}giftsAvailableWinterLipTrio.jpg" width="auto" height="415" alt="Winter Lip Color Trio" />
		</columns>
		
		<columns class="right-padding-32" large="4" small="6" valign="middle" style="padding-right: 32px;">
			<p class="text-center" style="margin-bottom: 0px; padding-bottom: 0px;">
				<strong style="font-size: 18px;">Winter Lip Color&nbsp;Trio</strong>
			</p>

			<p class="text-center">
				Merry, berry & bright
			</p>
			
			<center>	
				<button href="http://www.burtsbees.com/product/winter-lip-color-trio/21544.html?cm_mmc=Email-_-11.08.16.Holiday_Gifts_Available-_-body2-_-lipcolortrioshop" class="small red">SHOP NOW</button>
			</center>		
		</columns>
	</row>

	<row style="background: #ffffff;">
		<columns small="12">
			<spacer size="30"></spacer>
			
			<hr noshade />
			
			<spacer size="40"></spacer>
		</columns>
	</row>
	
	
	<row style="background: #ffffff;">
		<columns small="12" >
			<center>
				<img src="{{defaultImgPath}}giftsAvailableForAllCharacters.jpg" width="359" height="auto" alt="For All of Life's Characters" />
			</center>
			
			<h1 class="text-center secondaryHeroHeadline"><strong>THERE'S OUR HOLIDAY GIFT&nbsp;GUIDE</strong></h1>
		
			<center>
				<spacer size="25"></spacer>
				
				<hr style="border-bottom-width: 4px; width: 125px!important;" />
				
				<spacer size="25"></spacer>
			</center>
	
			<row>	
				<columns small="12">
					<p class="text-center" style="margin-bottom: 0px;">
						Your own little secret helper to find the
					</p>
					<p class="text-center" style="margin-bottom: 0px;">
						  perfect presents for all your special someones.
						<spacer size="20"></spacer>
					</p>
				</columns>
			</row>

			<row style="background: #ffffff;">
				<center>
					<img src="{{defaultImgPath}}giftsAvailableFourCategories.jpg" width="561" height="auto" alt="Special Someones" />
				</center>
			</row>
			
			<spacer size="30"></spacer>
			
			<a href="http://www.burtsbees.com/content/holiday-gift-guide/holiday_gift_guide.html" target="_blank"><center><img src="{{defaultImgPath}}giftsAvailableShopGiftGuide.jpg" width="403" height="auto" alt="Shop Gift Guide" /></center></a>		
		</columns>
	</row>
	
	<spacer size="20"></spacer>
</wrapper>


<table class="wrapper" align="center" style="border: 20px solid #f9d35b;">
  <tr>
    <td class="wrapper-inner">
		
		<row>	

			<columns small="12" style="background: #ffffff;" valign="middle">
				<spacer size="40"></spacer>

				<center><img src="{{defaultImgPath}}giftsAvailableCustomBuilder.jpg" width="560" height="auto" alt="The Custom Gift Builder" /></center>

				<p class="text-center gift-builder-section" style="margin-bottom: 0px;">Get in the spirit and create a gift as unique&nbsp;as&nbsp;the&nbsp;recipient.</p>

				<spacer size="25"></spacer>
				
				<center><img src="{{defaultImgPath}}giftsAvailableSteps.jpg" width="520" height="auto" alt="Three steps to build your own."></center>

				<spacer size="20"></spacer>
				
				<p class="text-center" style="padding-left: 10px; padding-right: 10px;">
					<em>You will have a chance to review and edit your custom gift&nbsp;before adding it to
					your shopping bag. It's that easy.</em>
				</p>
				
				<spacer size="20"></spacer>
				
				<center>
					<button href="http://www.burtsbees.com/custom-gift-builder?cm_mmc=Email-_-11.08.16.Holiday_Gifts_Available-_-body4-_-buildyourown" class="small"><span style="text-decoration: none!important;">BUILD YOUR OWN</span></button>
				</center>
				
				<spacer size="20"></spacer>
			</columns>
		</row>
		
    </td>
  </tr>
</table>