<!-- EMAIL body -->
<wrapper>
	<img src="{{defaultImgPath}}headerMoisturizeWinter.jpg" width="610" height="auto" alt="Burt's Bees Intense Hydration Collection" />
	
	<row style="background-color: #e6ebee;">
		<columns small="12" style="padding-bottom: 0;">
			<h1 class="text-center heroHeadline" style="font-size: 45px; margin-top: 0!important; margin-bottom: 0px!important;"><strong>GOODBYE DRYNESS</strong></h1>
		</columns>
	</row>


	<row style="background-color: #e6ebee;">
		<columns small="3"></columns>
		<columns small="6">
			<center>
				<spacer size="10" style="background-color: #f7f6f4;"></spacer>
				<hr noshade style="border-bottom-width: 6px!important; max-width: 145px!important; margin-left: auto; margin-right: auto;" />
				<spacer size="10" style="background-color: #f7f6f4;"></spacer>
			</center>
		</columns>
		
		<columns small="3"></columns>
	</row>

	<row style="background-color: #e6ebee;">
		<columns small="1" style="padding-left: 2px!important; padding-right: 2px!important;"></columns>
		
		<columns small="10" style="padding-left: 0!important; padding-right: 0!important;">
			<p class="text-center" style="margin-bottom: 15px;">
				Ah, winter. A season of crackling fires, and dry, cracked skin.
				Winter-proof your self-care routine with naturally moisturizing creams, lotions,
				and formulas to keep skin hydrated &lsquo;til spring.
			</p>
			
			<center><button href="http://www.burtsbees.com/shop/skin-care/intense-hydration/?cm_mmc=Email-_-11.01.16.Moisturize_For_Winter-_-body1-_-shopnow" class="outlined large"><strong>SHOP NOW<strong></button></center>
			
			<spacer size="20"></spacer>
		</columns>
		<columns small="1" style="padding-left: 2px!important; padding-right: 2px!important;"></columns>
	</row>
</wrapper>

<wrapper>
	<spacer size="30"></spacer>
			
	<row>
		<columns small="12" style="padding-bottom: 0;">
			<h1 class="text-center secondaryHeroHeadline" style="margin-bottom: 0; margin-top: 0!important; line-height: 1.1">Get Your Moisture Fix with</h1>
			<h1 class="text-center secondaryHeroHeadline" style="margin-bottom: 5px; margin-top: 0!important; line-height: 1.1"><strong>THESE FAVORITES</strong></h1>
		</columns>
	</row>

	<row class="collapse">
		<columns small="12" style="padding-bottom: 0;">
			<img src="{{defaultImgPath}}beeImage1MoisturizeWinter.jpg" width="600" height="auto" alt="Flying Bee" />
		</columns>
	</row>

	<row>
		<columns small="6" valign="middle">
			<center><img width="185" height="auto" src="{{defaultImgPath}}bodyLotionMoisturizeWinter.jpg" alt="Body Lotion"></center>
		</columns>
		
		<columns small="6" valign="middle" style="padding-left: 0!important; padding-right: 30px!important;">	
			<row class="collapse">
				<columns small="12" class="two_up_product_quote" valign="middle">
					<p class="text-center"><strong>Ultimate Care Body&nbsp;Lotion</strong></p>
					<p class="text-center" style="margin-bottom: 0;">When the cold gives you chapped skin, slather on something that fights nature with nature.</p>
				</columns>
			</row>
			
			<center><button href="http://www.burtsbees.com/product/ultimate-care-body-lotion/01294-00.html?cm_mmc=Email-_-11.01.16.Moisturize_For_Winter-_-body2-_-bodylotionshop" class="outlined small text-center" >SHOP&nbsp;NOW</button></center>
		</columns>
	</row>
	
	<row>
		<columns small="7" large="7" style="padding-left: 30px!important; padding-right: 0!important;" valign="middle">		
			<row class="collapse">
				<columns small="12" class="two_up_product_quote" valign="middle" style="padding-left: 40px!important;">
					
					<spacer size="10"></spacer>
					<p class="text-center"><strong>Intense Hydration Treatment&nbsp;Mask</strong></p>
					<p class="text-center" style="margin-bottom: 0;">Wind-burned cheeks are no match for this mask&#8217;s ultra-moisturizing clary&nbsp;sage.</p>
				</columns>
			</row>
			
			<center style="padding-left: 0px!important;"><button href="http://www.burtsbees.com/product/intense-hydration-treatment-mask/01686-00.html?cm_mmc=Email-_-11.01.16.Moisturize_For_Winter-_-body2-_-treatmentmaskshop" class="outlined small text-center">SHOP&nbsp;NOW</button></center>

		</columns>
		
		<columns small="5" large="5" valign="middle" style="padding-right: 20px!important; padding-left:10px!important; padding-bottom:0!import">
			<center><img width="167" height="auto" src="{{defaultImgPath}}treatmentMaskMoisturizeWinter.jpg" alt="Treatment Mask" width="223" height="auto"></center>
		</columns>		
	</row>	

	<row class="collapse">
		<columns small="12" style="padding-bottom: 0;">
			<img src="{{defaultImgPath}}beeImage2MoisturizeWinter.jpg" width="600" height="auto" alt="Flying Bee" />
		</columns>
	</row>

	<row>
		<columns small="6" valign="middle" style="padding-bottom: 0px; padding-right: 0!important;">
			<center><img width="212" height="auto" src="{{defaultImgPath}}handCreamMoisturizeWinter.jpg" alt="Hand Cream"></center>
		</columns>
		
		<columns small="6" valign="middle" style="padding-left: 0!important; padding-right: 30px!important;">
			<row class="collapse">
				<columns small="12" class="two_up_product_quote" valign="middle" >
					<p class="text-center"><strong>Almond & Milk Hand&nbsp;Cream</strong></p>
					<p class="text-center" style="margin-bottom: 0;">Soften hands that have weathered the elements with nourishing sweet almond oil.</p>
				</columns>
			</row>
			
			<center><button href="http://www.burtsbees.com/product/almond-%26-milk-hand-cream/25999-00.html?cm_mmc=Email-_-11.01.16.Moisturize_For_Winter-_-body2-_-handcreamshop" class="outlined small text-center">SHOP&nbsp;NOW</button></center>
		</columns>
	</row>	
	
	<row class="collapse">
		<columns small="12" style="padding-bottom: 0;">
			<img src="{{defaultImgPath}}beeImage3MoisturizeWinter.jpg" width="600" height="auto" alt="Flying Bee" />
		</columns>
	</row>

</wrapper>

<wrapper>
	<a href="http://www.burtsbees.com/content/beauty-tips-and-tricks/Beauty-Tips-and-Tricks-asset.html?cm_mmc=Email-_-11.01.16.Moisturize_For_Winter-_-body3-_-articlereadnow"><img src="{{defaultImgPath}}survivalGuideMoisturizeWinter.jpg" alt="Sub Zero Beauty Survival Guide" width="600" height="auto"></a>
</wrapper>
