<!-- EMAIL body -->
<table class="wrapper" align="center" style="background-color: #eeeeee;">
  <tr>
    <td class="wrapper-inner">
		<center><img src="{{defaultImgPath}}headerHolidayArchetypes.jpg" alt="Burt's Bees" width="467" height="auto" style="width:100%!important; height: auto!important;" /></center>
	
		<center><img src="{{defaultImgPath}}holidayArchetypesNaturalChoice.jpg" alt="The Natural Choice" width="600" height="auto" /></center>
    </td>
  </tr>
</table>

<table class="wrapper" align="center"  style="background-color: #eeeeee;">
  <tr>
    <td class="wrapper-inner">
		<center><h1 class="text-center holidayList" style="font-size: 50px;"><strong>YOUR HOLIDAY LIST</strong></h1></center>
		
		<center>
			<spacer size="20"></spacer>
			
			<hr style="border-bottom-width: 3px; width: 125px!important; margin: 0 auto;" />
		</center>
		
		<spacer size="30"></spacer>
				
		<center><h1 class="text-center holidaySubHeadline">Introducing Burt's Bees</h1></center>
		<center><h1 class="text-center holidaySubHeadline" style="margin-top: 5px;">Holiday Gift Guide</h1></center>
    </td>
  </tr>
</table>

<table class="wrapper" align="center" style="background-color: #eeeeee;">
  <tr>
    <td class="wrapper-inner">
		<img src="{{defaultImgPath}}holidayArchetypesBeautyQueen.jpg" alt="The Beauty Queen" width="624" height="auto" style="width:100%!important; height: auto!important;" />

		<a href="http://www.burtsbees.com/product/burt%27s-bees-face-essentials/792850895799.html?cm_mmc=Email-_-11.15.16.Introducing_Holiday_Archetypes-_-body1-_-faceessentialsshop"><img src="{{defaultImgPath}}holidayArchetypesBurtsFaceEssentials.jpg" alt="Burts Face Essentials" width="624" height="auto" style="width:100%!important; height: auto!important;" /></a>

		<a href="http://www.burtsbees.com/product/kissable-color---cool-collection/792850895881.html?cm_mmc=Email-_-11.15.16.Introducing_Holiday_Archetypes-_-body1-_-kissablecolorshop"><img src="{{defaultImgPath}}holidayArchetypesKissableColor.jpg" alt="Kissable Color Collection" width="624" height="auto" style="width:100%!important; height: auto!important;" /></a>

		<a href="http://www.burtsbees.com/shop/gifts/the-beauty-queen/?cm_mmc=Email-_-11.15.16.Introducing_Holiday_Archetypes-_-body1-_-beautyqueenshopmore"><center><img src="{{defaultImgPath}}holidayArchetypesShopMore.jpg" class="float-center" alt="Shop More" width="624" height="auto" style="width:100%!important; height: auto!important;" /></center></a>
		
		<img src="{{defaultImgPath}}holidayArchetypesBurtsEnthusiast.jpg" alt="The Burts Enthusiast" width="624" height="auto" style="width:100%!important; height: auto!important;" />
		
		<a href="http://www.burtsbees.com/product/best-of-burt%27s-bees/792850895560.html?cm_mmc=Email-_-11.15.16.Introducing_Holiday_Archetypes-_-body2-_-bestofburtsshop"><img src="{{defaultImgPath}}holidayArchetypesBestofBurts.jpg" alt="The Best of Burts" width="624" height="auto" style="width:100%!important; height: auto!important;" /></a>

		<a href="http://www.burtsbees.com/product/classic-bee-tin/792850895461.html?cm_mmc=Email-_-11.15.16.Introducing_Holiday_Archetypes-_-body2-_-beetinshop"><img src="{{defaultImgPath}}holidayArchetypesClassicBeeTin.jpg" class="float-center" alt="Classic Bee Tin" width="624" height="auto" style="width:100%!important; height: auto!important;" /></a>

		<a href="http://www.burtsbees.com/shop/gifts/the-burt%27s-enthusiast/?cm_mmc=Email-_-11.15.16.Introducing_Holiday_Archetypes-_-body2-_-enthusiastshopmore"><center><img src="{{defaultImgPath}}holidayArchetypesShopMore.jpg" class="float-center" alt="Shop More" width="624" height="auto" style="width:100%!important; height: auto!important;" /></center></a>

		<img src="{{defaultImgPath}}holidayArchetypesMamaBee.jpg" alt="The Mama Bee" width="624" height="auto" style="width:100%!important; height: auto!important;" />

		<a href="http://www.burtsbees.com/product/mama-bee-pamper/21506.html?cm_mmc=Email-_-11.15.16.Introducing_Holiday_Archetypes-_-body3-_-mamapampershop"><img src="{{defaultImgPath}}holidayArchetypesPamperGiftSet.jpg" class="float-center" alt="Mama Pamper Gift Set" width="624" height="auto" style="width:100%!important; height: auto!important;" /></a>

		<a href="http://www.burtsbees.com/product/baby-bee-sweet-memories-gift/792850892484.html?cm_mmc=Email-_-11.15.16.Introducing_Holiday_Archetypes-_-body3-_-sweetmemoriesshop"><img src="{{defaultImgPath}}holidayArchetypesSweetMemoriesGiftSet.jpg" class="float-center" alt="Sweet Memories Gift Set" width="624" height="auto" style="width:100%!important; height: auto!important;" /></a>

		<a href="http://www.burtsbees.com/shop/gifts/the-mama-bee/?cm_mmc=Email-_-11.15.16.Introducing_Holiday_Archetypes-_-body3-_-mamabeeshopmore"><center><img src="{{defaultImgPath}}holidayArchetypesShopMore.jpg" class="float-center" alt="Shop More" width="624" height="auto" style="width:100%!important; height: auto!important;" /></center></a>

		<center><img src="{{defaultImgPath}}holidayArchetypesWallSpacer.jpg" class="float-center" alt="Spacer" width="624" height="auto" style="width:100%!important; height: auto!important;" /></center>
    </td>
  </tr>
</table>


<row>
	<columns small="12">
		<spacer size="45"></spacer>
		
		<center><img src="{{defaultImgPath}}holidayArchetypesMoreGifts.jpg" alt="More Gifts To See" width="550" height="auto" /></center>
		
		<h1 class="text-center holidaySubHeadline"><strong>FROM STOCKING STUFFERS TO&nbsp;WORKER BEE</strong></h1>
		
		<spacer size="20"></spacer>
		
		<center><hr style="border-bottom-width: 3px; width: 125px!important; margin: 0 auto;" /></center>
		
		<spacer size="40"></spacer>
		
		<center><img src="{{defaultImgPath}}holidayArchetypesFourCategories.jpg" alt="Four Categories" width="565" height="auto" /></center>
		
		<spacer size="40"></spacer>
		
		<a href="http://www.burtsbees.com/content/holiday-gift-guide/holiday_gift_guide.html?cm_mmc=Email-_-11.15.16.Introducing_Holiday_Archetypes-_-body4-_-explorecategories"><center><img src="{{defaultImgPath}}holidayArchetypesExploreCategories.jpg" class="float-center" alt="ExploreCategories" width="624" height="auto" style="width:100%!important; height: auto!important;" /></center></a>
		
		<spacer size="40"></spacer>
		
	</columns>
</row>


<table class="wrapper" align="center" style="border: 20px solid #f9d35b;">
  <tr>
    <td class="wrapper-inner">
		
		<row>	
			<columns small="12" style="background-color: #ffffff; padding-bottom: 0!important;" valign="middle">
				<spacer size="40"></spacer>

				<center><img src="{{defaultImgPath}}customBuilder.jpg" width="550" height="auto" alt="The Custom Gift Builder" /></center>

				<p class="text-center gift-builder-section" style="margin-bottom: 0px;">Get in the spirit and create a gift as unique&nbsp;as&nbsp;the&nbsp;recipient.</p>

				<spacer size="25"></spacer>
				
				<center><img src="{{defaultImgPath}}builderSteps.jpg" width="520" height="auto" alt="Three steps to build your own."></center>

				<spacer size="20"></spacer>
				
				<p class="text-center" style="padding-left: 10px; padding-right: 10px;">
					<em>You will have a chance to review and edit your custom gift&nbsp;before adding it to
					your shopping bag. It's that easy.</em>
				</p>
				
				<spacer size="20"></spacer>
				
				<center>
					<button href="http://www.burtsbees.com/custom-gift-builder?cm_mmc=Email-_-11.08.16.Holiday_Gifts_Available-_-body4-_-buildyourown" class="small"><span style="text-decoration: none!important;">BUILD YOUR OWN</span></button>
					<spacer size="30"></spacer>
				</center>
				
			</columns>
		</row>
		
    </td>
  </tr>
</table>