<!-- EMAIL body -->
<wrapper style="background-color: #f7f6f4;">
	<center><img src="{{defaultImgPath}}headerInnovationBox.jpg" alt="Burt'sThe Best of Burts" width="600" height="auto" /></center>
</wrapper>

<wrapper style="background-color: #f7f6f4;">
	<columns small="12" class="mainHeadline">		
		<h1 class="text-center heroHeadline" style="font-size: 42px;"><strong>A BOX OF BURT&#8217;S BEES</strong></h1>
	</columns>
</wrapper>

<row style="background-color: #f7f6f4;">
	<columns small="3"></columns>
	<columns small="6">
		<center>
			<hr noshade style="border-bottom-width: 4px!important; max-width: 118px!important; margin-left: auto; margin-right: auto;" />
			<spacer size="10" style="background-color: #f7f6f4;"></spacer>
		</center>
	</columns>
	<columns small="3"></columns>
</row>

<row class="collapse" style="background-color: #f7f6f4;">
	<columns small="8" large="12" class="small-offset-2">
		<p class="text-center" style="font-size: 15px!important;"> You never know what brand-new products you&#8217;re gonna get.</p>
		
		<spacer size="10"></spacer>
	</columns>
</row>

<row style="background-color: #f7f6f4;">
	<columns large="1"></columns>
	<columns small="12" large="9">
		<p class="text-center" style="margin-bottom: 0px;">
			<strong>Enjoy 10 of our newest products, formulas, and colors before they&#8217;re released in stores.</strong>
		</p>
	</columns>
	<columns large="1"></columns>
</row>

<wrapper style="background-color: #f7f6f4;">
	<center><img src="{{defaultImgPath}}burtsboxInnovationBox.jpg" width="600" height="auto" alt="Burt's Box" /></center>
	
	<spacer size="40"></spacer>
</wrapper>

<wrapper style="background-color: #f9d35b;">

	<spacer size="25"></spacer>

	<row class="three-col-cta_Innovation">
		<columns small="5" valign="middle" style="padding-bottom: 8px!important;" class="firstCTA">
			<h3 class="text-right" style="font-size: 23px; margin-bottom: 0px; line-height: 1;"><strong>HURRY UP!</strong></h3>
			<h3 class="text-right" style="font-size: 23px; line-height: 1;"><strong>There are Only</strong></h3>
		</columns>
		<columns small="2" valign="middle" style="padding-left: 5px; padding-right: 5px;" class="middleCTA">
			<h2 class="text-center" style="font-size: 60px; padding-left: 0!important; padding-right: 0!important; margin-bottom: 0;"><strong>350</strong></h2>
		</columns>
		<columns small="5" valign="middle" style="width:230px; padding-bottom: 8px!important; padding-right: 8px!important;" class="lastCTA">
			<h3 class="text-left" style="font-size: 23px; margin-bottom: 0px; line-height: 1;"><strong>Limited-Edition</strong></h3>
			<h3 class="text-left" style="font-size: 23px; line-height: 1;"><strong>Boxes Available</strong></h3>
		</columns>
	</row>

	<row stye="background-color: #ffffff!important;">
		<img src="{{defaultImgPath}}dropArrowInnovationBox.jpg" width="600" height="18">
	</row>
</wrapper>

<wrapper>
	<row style="background-color: #fffff;">
		<columns small="12">
			<spacer size="50"></spacer>
			<h4 class="text-center" style="margin-bottom: 20px;"><em>That's a $175 value, for&nbsp;only&nbsp;$50.</em></h4>

			<center><button href="http://www.burtsbees.com/product/burt's-box/907056.html?cm_mmc=Email-_-10.25.16.Burts_Innovation_Box-_-body1-_-purchasenow" class="outlined"><strong>PURCHASE NOW<strong></button></center>
			<spacer size="30"></spacer>
		</columns>
	</row>
</wrapper>
	
<wrapper style="background-color: #bbd3ba;">
	<spacer size="30"></spacer>

	<row>	
		<columns small="1" style="padding-left:0px!important;padding-right:0px!important;"></columns>
		
		<columns small="10" style="background-color: #ffffff; padding-left:8px!important; padding-right:8px!important;" valign="middle">
			<spacer size="40"></spacer>

			<img src="{{defaultImgPath}}freshfaceInnovationBox.jpg" width="600" height="auto" alt="Put your Freshest Face forward with" />

			<h1 class="text-center secondaryHeroHeadline"><strong>CELEBRITY MAKEUP ARTIST TIPS</strong></h1>

			<spacer size="20"></spacer>

			<center>
				<hr style="border-bottom-width: 4px; width: 125px!important;" />
			</center>

			<spacer size="25"></spacer>

			<p class="text-center" style="padding-left: 10px; padding-right: 10px;">
				Each box comes with celebrity makeup artist tips to help hone your look, with pointers on everything from making bold lips pop to picking out the hottest colors of the season.
			</p>
			<spacer size="20"></spacer>
		</columns>
		
		<columns small="1" style="padding-left:0px!important;padding-right:0px!important;"></columns>
	</row>
	
	<spacer size="30"></spacer>
</wrapper>