<wrapper style="background-color: #f7f6f4;">
	<center><img src="{{defaultImgPath}}headerBoxReview.jpg" alt="Yay, Burt's Box" width="600" height="auto" /></center>
</wrapper>

<wrapper style="background-color: #f7f6f4;">
	<columns small="12" class="mainHeadline">		
		<h1 class="text-center heroHeadline" style="font-size: 45px; line-height: 1;"><strong>YAY, MORE PRIZES!</strong></h1>
	</columns>
</wrapper>

<row style="background-color: #f7f6f4;">
	<columns small="3"></columns>
	<columns small="6">
		<center>
			<hr noshade style="border-bottom-width: 4px!important; max-width: 150px!important; margin-left: auto; margin-right: auto;" />
		</center>
			
		<spacer size="20" style="background-color: #f7f6f4;"></spacer>
	</columns>
	<columns small="3"></columns>
</row>

<row class="collapse" style="background-color: #f7f6f4;">
	<columns small="1"></columns>
	<columns small="10">
		<center><button href="http://www.burtsbees.com/content/burt%27s-box-sweepstakes/Burts-Box-Review-Page.html?cm_mmc=Email-_-10.31.16.Review_Burts_Innovation_Box-_-body1-_-startreviewingnow" class="outlined test-center"><strong>START&nbsp;REVIEWING&nbsp;NOW<strong></button></center>
		<spacer size="30"></spacer>
	</columns>
	<columns small="1"></columns>
</row>

<row class="collapse">
	<columns small="12" style="padding-bottom: 0;">
		<spacer size="40"></spacer>
		<h1 class="text-center heroHeadline" style="margin-bottom: 0; margin-top: 0!important; line-height: 1.1;">Reviewers will be entered to</h1>
		<h1 class="text-center heroHeadline" style="margin-bottom: 0; margin-top: 0!important; line-height: 1.1;"><strong>WIN A GRAND PRIZE</strong></h1>
		<spacer size="40"></spacer>
	</columns>
</row>

<row style="background-color: #f7f6f4;">
	<columns small="12">
		<img src="{{defaultImgPath}}beeImage1BoxReview.jpg" width="600" height="auto" alt="Burt's Box" />
	</columns>
</row>


<row style="background-color: #f7f6f4;">
	<columns large="1" class="show-for-large"></columns>
	<columns small="4" large="3" class="priceCard">
		<center><img src="{{defaultImgPath}}shoppingSpreeBoxReview.jpg" width="104" height="auto" alt="Shopping Spree" /></center>

		<h1 class="text-center" style="line-height: 0.9; padding-top: 10px;"><strong><small><sup>$</sup></small>1200</strong></h1>
		<p class="text-center" style="padding-top: 5px;">
			SHOPPING<br>SPREE
		</p>
	</columns>

	<columns small="4" large="3" class="priceCard">
		<center><img src="{{defaultImgPath}}giftCardBoxReview.jpg" width="104" height="auto" alt="Gift Card" /></center>
		<h1 class="text-center" style="line-height: 0.9; padding-top: 10px;"><strong><small><sup>$</sup></small>500</strong></h1>
		<p class="text-center" style="padding-top: 5px;">
			SPAFINDER<br>GIFTCARD
		</p>
	</columns>

	<columns small="4" large="3" class="priceCard">
		<center><img src="{{defaultImgPath}}productsBoxReview.jpg" width="104" height="auto" alt="Burt's Bee" /></center>
		<h1 class="text-center" style="line-height: 0.9; padding-top: 10px;"><strong><small><sup>$</sup></small>300</strong></h1>
		<p class="text-center" style="padding-top: 5px;">
			BURT&#8217;S BEES<br>
			PRODUCTS
		</p>
	</columns>
	<columns large="1" class="show-for-large"></columns>
</row>

<row style="background-color: #f7f6f4;">
	<columns small="2"></columns>
	<columns small="8">
		<spacer size="10"></spacer>
		<hr />
		<spacer size="10"></spacer>
	</columns>
	<columns small="2"></columns>
</row>

<wrapper  style="background-color: #f7f6f4;">
	<row>
		<columns small="4"></columns>
		<columns small="4">
			<center><img src="{{defaultImgPath}}surpriseBoxReview.jpg" width="104" height="auto" alt="Surprise Gift" /></center>
		</columns>
		<columns small="4"></columns>
	</row>

    <row>
   		<columns small="12" style="padding-bottom: 0!important;">
   			<p class="text-center" style="margin-bottom: 0!important;"><strong>&mdash; 35 RUNNER-UPS &mdash;</strong></p>
   		</columns>
   	</row>

	<row>
		<columns small="4"></columns>
		<columns small="2" style="padding-left: 0!important; padding-right: 0!important;" class="priceCardRunnerUp" valign="middle">
			<h1 class="text-center" style="line-height: 0.9; padding-top: 5px;"><strong><small><sup>$</sup></small>50</strong></h1>
		</columns>
		<columns small="2" style="padding-top: 0px; padding-left: 0px!important; padding-right: 0!important; padding-bottom: 0!important;" valign="middle">
			<p style="margin-bottom: 0; line-height: 1.1;">SURPRISE</p>
			<p style="line-height: 1.1;">GIFTS</p>
		</columns>
		<columns small="4"></columns>
	</row>

	<row>
		<columns small="12">
			<spacer size="30"></spacer>
			
			<center><button href="http://www.burtsbees.com/content/burt%27s-box-sweepstakes/Burts-Box-Review-Page.html?cm_mmc=Email-_-10.31.16.Review_Burts_Innovation_Box-_-body2-_-writeareview" class="outlined"><strong>WRITE A REVIEW<strong></button></center>

			<spacer size="30"></spacer>
		</columns>
	</row>

	<row>
		<columns small="1" style="padding-left: 6px!important;"></columns>
		<columns small="10" large="10" style="padding-bottom: 0!important; padding-left: 5px!important; padding-right: 5px!important;">
			<p class="text-center" style="margin-bottom: 0!important; line-height: 1.4;">
				Try out your new goodies, and review them to enter the Burt’s Box sweepstakes. One lucky winner will get a grand prize, and 35 runner&#x2011;ups will receive surprise gifts worth&nbsp;$50.
			</p>
		</columns>
		<columns small="1" style="padding-right: 6px!important;"></columns>
	</row>

	<row class="collapse" style="background-color: #f7f6f4;">
		<columns small="12" style="padding-bottom: 0;">
			<img src="{{defaultImgPath}}beeImage2BoxReview.jpg" width="600" height="auto" alt="Burt's Box" />
		</columns>
	</row>
</wrapper>

<wrapper>
	<spacer size="40"></spacer>

	<row>
		<columns small="12" class="mainHeadline">
			<h1 class="text-center heroHeadline" style="font-size: 32px;"><strong>HERE&#8217;S HOW IT WORKS</strong></h1>
		</columns>
	</row>

	<spacer size="30"></spacer>
</wrapper>

 <wrapper>
	<row class="row-ribbon collapse">
		<columns small="1"></columns>
		<columns small="2" valign="middle" style="padding-bottom: 0!important; background-color: #f7f6f4;">
			<img src="{{defaultImgPath}}boxReviewNum1.jpg" width="auto" height="99" alt="Number 1" />
		</columns>
		<columns small="8" valign="middle" style="background-color: #f7f6f4; padding-bottom:0px;" class="row-ribbon-text">
			<p style="margin-bottom: 0;">Try out all your brand-new products.</p>
		</columns>
		<columns small="1"></columns>
	</row>

	<spacer size="10"></spacer>

	<row class="row-ribbon collapse" dir="rtl">
		<columns small="1"></columns>
		<columns small="2" valign="middle" style="padding-bottom: 0!important; background-color: #f7f6f4;">
			<img src="{{defaultImgPath}}boxReviewNum2.jpg" width="auto" height="99" alt="Number 2" />
		</columns>
		<columns small="8" valign="middle" style="background-color: #f7f6f4; padding-bottom:0px;" class="row-ribbon-text" dir="ltr">
			<p style="margin-bottom: 0; padding-left: 15px;">Login or create an account on <a href="http://www.burtsbees.com/content/burt%27s-box-sweepstakes/Burts-Box-Review-Page.html?cm_mmc=Email-_-10.31.16.Review_Burts_Innovation_Box-_-body3-_-burtsboxsweeps" style="text-decoration: none; color: #493728;">www.BurtsBees.com&#47;burtsboxsweeps</a></p>
		</columns>
		<columns small="1"></columns>
	</row>

	<spacer size="10"></spacer>

	<row class="row-ribbon collapse">
		<columns small="1"></columns>
		<columns small="2" valign="middle" style="padding-bottom: 0!important; background-color: #f7f6f4;">
			<img src="{{defaultImgPath}}boxReviewNum3.jpg"width="auto" height="99" alt="Number 3" />
		</columns>
		<columns small="8" valign="middle" style="background-color: #f7f6f4; padding-bottom:0px;" class="row-ribbon-text">
			<p style="margin-bottom: 0;">Review all 8 of your new products before December&nbsp;31st.</p>
		</columns>
		<columns small="1"></columns>
	</row>

	<spacer size="10"></spacer>

	<row class="row-ribbon collapse" dir="rtl">
		<columns small="1"></columns>
		<columns small="2" valign="middle" style="padding-bottom: 0!important; background-color: #f7f6f4;" class="row-ribbon-text">
			<img src="{{defaultImgPath}}boxReviewNum4.jpg" width="auto" height="99" alt="Number 4" />
		</columns>
		<columns small="8" valign="middle" style="background-color: #f7f6f4; padding-bottom:0px;" class="row-ribbon-text" dir="ltr">
			<p style="margin-bottom: 0; padding-left: 15px;">That’s it! You’ve been entered to win the grand prize or 35 runner-up prizes.</p>
		</columns>
		<columns small="1"></columns>
	</row>
	
</wrapper> 

<wrapper>
	<row style="background-color: #fffff;">
		<columns small="12">
			<spacer size="40"></spacer>

			<center><button href="http://www.burtsbees.com/content/burt%27s-box-sweepstakes/Burts-Box-Review-Page.html?cm_mmc=Email-_-10.31.16.Review_Burts_Innovation_Box-_-body3-_-howitworks" class=" outlined"><strong>WRITE A REVIEW<strong></button></center>

			<spacer size="30"></spacer>
		</columns>
	</row>
</wrapper>

<wrapper>
	<img src="{{defaultImgPath}}boxReviewSocialBox.jpg" width="600" height="auto" alt="Share your box on social media" />
</wrapper> 