<wrapper>
	<img src="{{defaultImgPath}}headerAllureBeauty.jpg" alt="Burt's Bees The Best of Burts" width="600" height="auto" >
</wrapper>

<wrapper style="background-color: #f6f4f2;">
	<columns small="12" class="mainHeadline" style="padding-top: 40px;">

		<h1 class="text-center heroHeadline"><strong>THE BUZZ ON THE BEST</strong></h1>
		<h1 class="text-center heroHeadline" style="margin-top: 0!important;"><strong>IN BEAUTY WINNERS</strong></h1>
	</columns>
</wrapper>


<wrapper style="background-color: #f6f4f2;">	
	<row>		
		<columns small="12" class="heroImage" style="padding-bottom: 0px;">
			<wrapper>
				<center><img src="{{defaultImgPath}}lipstickAllureBeauty.jpg" alt="Best of Beauty Award Winner 2016" width="217" height="auto" style="font-size: 8px;" /></center>
			</wrapper>
		</columns>
	</row>	
	
	<row>	
		<columns large="1" class="show-for-large"></columns>

		<columns small="12" large="10" style="padding-left: 16px; padding-right: 16px;">
			<p class="text-center"><strong>Beauty editors love lipstick, and Allure editors were no&nbsp;exception. Allure gushed over lipstick's bold colors and&nbsp;luscious moisture.</strong></p>
		</columns>
		<columns large="1" class="show-for-large"></columns>
		
	</row>
	
	<row>
		<columns small="4" large="4"></columns>
		<columns small="4" large="4" style="padding-left: 0!important; padding-right: 0!important;">
			<hr noshade style="border-bottom-width: 2px!important; width: 106px; margin-left: auto; margin-right: auto;">
			<spacer size="10"></spacer>
			
		</columns>
		<columns small="4" large="4"></columns>
	</row>

	<row>
		<columns small="12">
			<p class="text-center" style="margin-bottom: 2px;"><strong>Lipstick</strong></p>
			<p class="text-center">Loud color for soft lips</p>
		</columns>
	</row>
	
	<row>
		<columns small="12">
			<spacer size="10"></spacer>
			
			<center><button href="http://www.burtsbees.com/product/lipstick/VM-792850894372.html?cm_mmc=Email-_-11.04.16.Allure_Beauty_Awards-_-body1-_-shopnow" class="large outlined text-center mainCTA">SHOP&nbsp;NOW</button></center>

			<spacer size="50"></spacer>
		</columns>
	</row>

	<row>
		<columns small="6" valign="middle" style="padding-right: 0px!important;">		
			<row>
				<columns small="12" class="two_up_product_quote">
					<p class="text-center" style="margin-bottom: 0;"><strong>Allure editors called this </strong></p>
					<p class="text-center" style="margin-bottom: 0;"><strong>creamy&nbsp;formula</strong></p>
					<p class="text-center" style="margin-bottom: 0;"><strong>&ldquo;Best for Sensitive&nbsp;Skin&rdquo;.</strong></p>
				</columns>
			</row>
			
			<row>
				<columns small="2" large="4"></columns>
				<columns small="8" large="4">
					<spacer size="11"></spacer>
					<center><hr style="border-bottom-width: 2px!important; width: 106px;"></center>
					<spacer size="11"></spacer>
				</columns>
				<columns small="2" large="4"></columns>
			</row>
			
			<row>
				<columns class="two_up_product_quote" small="12">
					<p class="text-center" style="margin-bottom: 0;"><strong>Sensitive Facial Cleanser</strong></p>
					<p class="text-center" style="margin-bottom: 0;">Soap-free & worry-free</p>
				</columns>
			</row>			
			
			<center><button href="http://www.burtsbees.com/product/sensitive-facial-cleanser/01430-00.html?cm_mmc=Email-_-11.04.16.Allure_Beauty_Awards-_-body1-_-facialcleansershop" class="outlined small mainCTA text-center">SHOP&nbsp;NOW</button></center>

		</columns>
		
		<columns small="6" valign="middle">
			<center><img width="271" height="459" src="{{defaultImgPath}}facialCleanserAllureBeauty.jpg" alt="Facial Cleanser"></center>
		</columns>
	</row>
	
</wrapper>	

<wrapper style="background-color: #ffffff;">
	
	<row>
		<columns small="12">
			<spacer size="50"></spacer>
			
			<h1 class="text-center secondaryHeroHeadline" style="line-height: 1.2;"><strong>THERE&#8217;S MORE AWARD-WINNING GOODNESS&nbsp;WHERE THAT CAME FROM</strong></h1>
			
			<spacer size="25"></spacer>
		</columns>
	</row>
	
		
	<row>
		<columns small="5" valign="middle" style="padding-left: 8px; padding-right: 0!important;">
			<img class="float-right" width="266" height="auto" src="{{defaultImgPath}}bbCreamAllureBeauty.jpg" alt="BB Cream">
		</columns>
		
		<columns small="7" valign="middle" style="padding-left: 0;">
	
			<row class="collapse">
				<columns small="12" class="two_up_product_quote">
					<p class="text-center" style="margin-bottom: 0;"><strong>BB Cream</strong></p>
					<p class="text-center" style="margin-bottom: 0;">Nourishing, protecting and </p>
					<p class="text-center" style="margin-bottom: 0;">perfecting&nbsp;all&nbsp;in one.</p>
				</columns>
			</row>
			
			<center><button href="http://www.burtsbees.com/product/bb-cream/VM-792850893740.html?cm_mmc=Email-_-11.04.16.Allure_Beauty_Awards-_-body2-_-bbcreamshop" class="outlined small text-center mainCTA">SHOP&nbsp;NOW</button></center>
		</columns>
	</row>	
	
	<spacer size="40"></spacer>
	
	<row>
		<columns small="6" valign="middle" style="padding-left: 10px!important; padding-right: 0px!important;">
		
			<row class="collapse">
				<columns small="12" class="two_up_product_quote">
					<spacer size="10"></spacer>
					<p class="text-center" style="margin-bottom: 0;"><strong>Lemon Butter Cuticle&nbsp;Cream</strong></p>
					<p class="text-center" style="margin-bottom: 0;">Raggedy&nbsp;cuticles,&nbsp;rejoice.</p>
				</columns>
			</row>
			
			<center><button href="http://www.burtsbees.com/product/lemon-butter-cuticle-cream/07099-00.html?cm_mmc=Email-_-11.04.16.Allure_Beauty_Awards-_-body3-_-cuticlecreamshop" class="outlined small text-center mainCTA">SHOP&nbsp;NOW</button></center>
		<spacer size="25"></spacer>
		</columns>
		
		<columns small="6" valign="middle" style="padding-right: 0!important; padding-left: 0px!important;">
			<img class="float-left" width="300" height="auto" src="{{defaultImgPath}}cuticleCreamAllureBeauty.jpg" alt="Lemon Butter Cuticle Cream" width="266" height="257">
		</columns>	
	</row>
	
	
	<row>
		<columns small="1"></columns>
		<columns small="10">
			<spacer size="40"></spacer>
			<hr noshade />
		</columns>
		<columns small="1"></columns>
	</row>	
		
</wrapper>