<!-- EMAIL body -->
<wrapper class="collapse">
	
	<center><img src="{{defaultImgPath}}headerImgFootCreme.jpg" width="600" height="153" alt="Burt's Bees" /></center>
</wrapper>

<wrapper>
	<row class="collapse" dir="rtl" >		
		<columns small="12" large="5" class="heroImage">

			<spacer size="45"></spacer>
			<center><img src="{{defaultImgPath}}heroImgFootCreme.jpg" alt="Burt's Bees Coconut \A Foot Creme with Vitamin E" width="250" height="auto" style="font-size: 8px;" /></center>
		</columns>
		
		<columns small="12" large="7" dir="ltr" class="mainHeadline" style="margin-top: 40px;">
			
			<h1 class="text-center heroHeadline" style=""><strong>A FREE TREAT</strong></h1>
			
			<center><img src="{{defaultImgPath}}forYourFeetFootCreme.jpg" width="334" height="77" alt="For Your Feet"></center>
			
			<p class="text-center">
				<strong>Healing relief for rough, <br>dry feet - overnight!</strong>
			</p>
			<p class="text-center">
				<strong>Coconut Foot Creme</strong>
			</p>
			
			<p class="text-center" >
				FREE WITH $45 PURCHASE
			</p>
			
			
			
			<p><spacer size="12"></spacer></p>
			
			<center><button href="http://www.burtsbees.com/?cm_mmc=Email-_-10.11.16.GWP_CoconutCream-_-body1-_-shopnow" class="large">SHOP NOW</button></center>
		</columns>
	</row>
</wrapper>

	<row>
		<columns>
			<spacer size="10"></spacer>
		</columns>
	</row>
	
	<row>
		<columns small="12">
			<p class="text-center ratingsCopy" style="margin-bottom: 5px;">
				<strong>Our Customers Love&nbsp;It</strong>
			</p>
		</columns>
	</row>
	
	<row>	
		<columns small="12" style="padding">
			<center><img src="{{defaultImgPath}}ratingFootCreme.jpg" /></center>
		</columns>
	</row>
	
	<row class="quote collapse">	
		<columns small="1"></columns>
		<columns small="1"><p class="quoteLeft" style="font-size: 100px; line-height: 0;  padding-top: 30px;">&#8220;</p></columns>
		<columns small="8">
			<center><p class="quoteText text-center" style="font-size: 22px; padding: 0;"><strong>My feet love it, I love it, and... you'll love it too. Highly recommended!</strong></p></center>
		
		</columns>
		<columns small="1"><p class="quoteRight" style="font-size: 100px; line-height: 0; padding-top: 75px;">&#8221;</p></columns>
		<columns small="1"></columns>
	</row>
	
	<row>	
		<columns small="12">
			<p style="margin: 0 !important; margin-top:-15px!important"><center><strong><em>–Matilde</em></strong></center></p>
		</columns>
	</row>
	
	<row>	
		<columns small="12">
			<!-- <center><img src="{{defaultImgPath}}recommendationFootCreme.jpg"></center> -->
			<center><p class="text-center">
				<a href="http://www.burtsbees.com/product/coconut-foot-cr%C3%A8me/06999-00.html#navlvl=4&start=1 ?cm_mmc=Email-_-10.11.16.GWP_CoconutCream-_-body1-_-seereviews" style="text-decoration: none; padding-bottom: 3px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: inherit;">SEE ALL REVIEWS</a>
			</p></center>
		</columns>
	</row>

	<row>
		<columns>
			<spacer size="5"></spacer>
		</columns>
	</row>

	<row class="footerHR">
		<columns small="1"></columns>
		<columns small="10">
			<hr noshade>
		</columns>
		<columns small="1"></columns>
	</row>

	<wrapper>
			<center><img src="{{defaultImgPath}}topPicksFootCreme.jpg" width="333" height="85" alt="Top Picks for Pampering" style="font-size: 10px;" /></center>
	</wrapper>

	<row class="collapsed">
		<columns small="6"  class="two_up_product">
			<center><img src="{{defaultImgPath}}handCremeFootCreme.jpg" alt="Ultimate Care \A Hand Cream" width="223" height="308" style="font-size: 10px;" /></center>
			
			<h4 class="text-center" style="margin-bottom: 2px!important;"><strong>ULTIMATE CARE</strong></h4>
			<p class="text-center">Hand Cream</p>
			<spacer size="5"></spacer>
			<center><button href="http://www.burtsbees.com/product/ultimate-care-hand-cream/01290-00.html?cm_mmc=Email-_-10.11.16.GWP_CoconutCream-_-body2-_-handcreamshop" class="small">SHOP&nbsp;NOW</button></center>
			
		</columns>

		<columns small="6"  class="two_up_product">
			<center><img src="{{defaultImgPath}}treatmentMaskFootCreme.jpg" width="223" height="308" alt="Intense Hydration \A Treatment Mask" style="font-size: 10px;" /></center>

			<h4 class="text-center" style="margin-bottom: 2px!important;"><strong>INTENSE HYDRATION</strong></h4>
			<p class="text-center">Treatment Mask</p>
			<spacer size="5"></spacer>
			<center><button href="http://www.burtsbees.com/product/intense-hydration-treatment-mask/01686-00.html?cm_mmc=Email-_-10.11.16.GWP_CoconutCream-_-body2-_-treatmentmaskshop" class="small">SHOP&nbsp;NOW</button></center>
		</columns>
	</row>
	
	<row>
		<columns style="background-color: #ffffff;">
			<spacer size="10"></spacer>
		</columns>
	</row>

	<wrapper>
		<a href="http://www.burtsbees.com/content/beauty-tips-and-tricks/Beauty-Tips-and-Tricks-asset.html?cm_mmc=Email-_-10.11.16.GWP_CoconutCream-_-body3-_-articlereadnow"><img src="{{defaultImgPath}}winterTimeTLCFootCreme.jpg" alt="Winter-Time TLC" width="600" height="100%"></a>
	</wrapper>
