<!-- EMAIL body -->
<wrapper style="background: #ffffff">
	<row class="collapse" style="background: #ffffff">
		<img src="{{defaultImgPath}}headerGivingTuesday.jpg" alt="Bee Generous" width="624" height="auto" style="width:100%!important; background: #ffffff;" />
	</row>
</wrapper>

<row>
	<columns small="12" class="mainHeadline" style="background: #ffffff">
		<spacer size="30"></spacer>		
		<h1 class="text-center givingTuesdayHeadline">Burt&#39;s Bees and Bee Informed</h1>
		<h1 class="text-center givingTuesdayHeadline"><strong>TEAM UP FOR GIVING&nbsp;TUESDAY</strong></h1>
	
		<center>
			<spacer size="25"></spacer>
		
			<hr style="border-bottom-width: 5px; width: 125px!important;" />
		
			<spacer size="25"></spacer>
		</center>	
	</columns>
</row>

<row>
	<columns small="12">
		<p class="text-center">
			Burt&#39;s Bees and Bee Informed are helping honeybee populations by making sure that beekeepers have the 
			best tools and techniques to keep bees happy&nbsp;and&nbsp;healthy.
		</p>
	</columns>
</row>

<row>
	<columns small="12">
		<h4 class="text-center">
			<strong>Learn how to help these vital pollinators&nbsp;below.</strong>
		</h4>
	</columns>
</row>

<wrapper style="background: #f5f4f2;">
	<center><a href="https://beeinformed.org/about/" style="border: none;"><img src="{{defaultImgPath}}givingTuesdayBeeInformed.jpg" width="624" height="auto" alt="Bee Informed" style="width:100%!important;" /></a></center>
	
	<spacer size="30"></spacer>
</wrapper>


<row style="background: #f5f4f2;">
	<columns small="12" style="padding-bottom: 0; background: #f5f4f2!important;" bgcolor="#fad35c">
		<table class="spacer">
		  <tbody>
		    <tr>
		      <td height="10px" style="background: #fad35c!important; font-size:10px;line-height:10px;">&#xA0;</td>
		    </tr>
		  </tbody>
		</table>
		
		<h1 class="text-center causeBanner" style="background: #fad35c!important; background-color: #fad35c!important; margin-bottom: 0; line-height: 1.1;"><strong style="background: #fad35c!important;">ART FOR A CAUSE</strong></h1>
		
		<table class="spacer">
		  <tbody>
		    <tr>
		      <td height="10px" style="background: #fad35c!important; font-size:10px;line-height:10px;">&#xA0;</td>
		    </tr>
		  </tbody>
		</table>
	</columns>
</row>

<row style="background: #f5f4f2;">
	<columns small="12">
		<center><img src="{{defaultImgPath}}givingTuesdayDownArrow.jpg" width="65" height="auto" alt="Down Arrow"></center>
	</columns>
</row>

<wrapper style="background: #f5f4f2;">
	<row>
		<columns small="12">			
			<spacer size="10"></spacer>
			
			<p class="text-center">
				Bee Muralist Matthew Willey&#39;s partnership with Burt&#39;s Bees is a tribute to our co-founder and beekeeper, Burt Shavitz. Celebrate this partnership by purchasing a limited-edition&nbsp;mural&nbsp;print.
			</p>
			
			<spacer size="15"></spacer>
			
			<p class="text-center">
				100% of the profits from sales of the print will be donated to Bee Informed&#39;s&nbsp;mission.
			</p>
		</columns>
	</row>

	<spacer size="15"></spacer>
</wrapper>

<row style="background: #f5f4f2;">
	<columns small="12">
		<center><img src="{{defaultImgPath}}givingTuesdayMuralPrint.jpg" width="555" height="auto" alt="Mural Print"></center>
	
		<center><img src="{{defaultImgPath}}givingTuesdayMuralDetails.jpg" width="552" height="auto" alt="100% profits go to bee informed. 150 prints available"></center>
	</columns>
</row>

<row class="collapse" style="background: #f5f4f2;">
	<columns small="12" style="padding-bottom: 0;">
		<spacer size="20"></spacer>
		<center><button href="http://www.burtsbees.com/product/limited-edition-burt-legacy-print/901056.html?cm_mmc=Email-_-11.29.16.GivingTuesday-_-body2-_-shopsupport" class="large red"><span style="text-decoration: none!important;">SHOP TO SUPPORT</span></button></center>

		
		<img src="{{defaultImgPath}}givingTuesdayAcornBee.jpg" width="624" height="auto" style="width:100%!important;" alt="Holiday Decoration">

		<spacer size="20"></spacer>
		
		<h1 class="text-center givingTuesdayHeadline" style="line-height: 1.1;"><strong>SUPPORT BEE INFORMED</strong></h1>
		
		<p class="text-center" style="margin-bottom: 0px; margin-top: 10px;">Good things come to those who give.</p>
	</columns>
</row>

<row style="background: #f5f4f2;">
	<columns small="12">
		<spacer size="20"></spacer>

		<center><img src="{{defaultImgPath}}givingTuesdayDonationOffer.jpg" width="554" height="auto" alt="Dontate $50 and receive free shipping online."></center>
	</columns>
</row>

<row class="collapse" style="background: #f5f4f2;">
	<columns small="12">
		<spacer size="20"></spacer>
		<center><button href="https://www.indiegogo.com/projects/a-real-solution-for-honey-bees-environment#/" class="large red">DONATE NOW</button></center>

		<spacer size="20"></spacer>
	</columns>
</row>

<table class="wrapper" align="center" style="border: 20px solid #f9d35b;">
  <tr>
    <td class="wrapper-inner">
		<row>
			<columns small="12" style="background: #ffffff;" valign="middle">
				<spacer size="40"></spacer>

				<center><img src="{{defaultImgPath}}givingTuesdayTheGivingText.jpg" width="557" height="auto" alt="The Giving That Keeps on Giving..." /></center>
				
				<row>
					<columns small="1"></columns>
					<columns small="10" style="padding-bottom: 0;">
						<p class="text-center givingReminderFirst" style="margin-bottom: 0px;">Don&#39;t forget &mdash; 10% of all online Burt&#39;s Bees purchases go toward the Greater Good Foundation.</p>
					</columns>
					<columns small="1"></columns>
				</row>
				
				<spacer size="25"></spacer>

				<center><img src="{{defaultImgPath}}givingTuesdayGreaterGoodLogo.jpg" width="557" height="auto" alt="The Greater Good Foundation"></center>

				<spacer size="20"></spacer>

				<p class="text-center givingReminderSecond" style="padding-left: 10px; padding-right: 10px;">
					The Greater Good Foundation funds projects that support human and honeybee health. You can even donate a little more&nbsp;at checkout.
				</p>

				<spacer size="20"></spacer>

				<center>
					<button href="http://www.burtsbees.com/content/outreach/out-reach-asset.html?cm_mmc=Email-_-11.29.16.GivingTuesday-_-body4-_-learnmore" class="large"><span style="text-decoration: none!important;"><strong>LEARN MORE</strong></span></button>
				</center>

				<spacer size="20"></spacer>
			</columns>
		</row>
    </td>
  </tr>
</table>