<row class="collapse" style="background: #eeeeee;">
	<columns small="12" style="padding-bottom: 0px!important;">
		<center style="background: #eeeeee;"><img src="{{defaultImgPath}}headerHoliday.jpg" alt="Burt's Bees" width="600" height="162" style="max-width: 600px; height: 162px!important;" /></center>
	</columns>
</row>

<row class="collapse" style="background: #eeeeee;">
	<columns small="1"></columns>
	<columns small="10">
		<center><img src="{{defaultImgPath}}gwp1128Calendar2.jpg" alt="Burt's Bees Week 2" width="361" height="auto" style="padding-bottom: 15px;" /></center>
				
		<h1 class="text-center secondaryHeroHeadline"><small style="color: #9c0a0b;"><strong>FIVE WEEKS of FREE TREATS</strong></small></h1>
		
		<spacer size="20"></spacer>		
	</columns>
	<columns small="1"></columns>
</row>

<table class="wrapper" align="center" style="background: #eeeeee;">
  <tr>
    <td class="wrapper-inner">
		<center><img src="{{defaultImgPath}}gwp1128RevealingWeek.jpg" alt="Revealing Week Two" width="600" height="auto"></center>
    	<center><h1 class="text-center holidayList"><strong>MORE FOR THEM IS MORE&nbsp;FOR&nbsp;YOU!</strong></h1></center>
		
		<center>
			<spacer size="20"></spacer>
			
			<hr style="border-bottom-width: 5px; width: 175px!important; margin: 0 auto;" />
		</center>
		
		<spacer size="30"></spacer>
    </td>
  </tr>
</table>

<row class="collapse" style="background: #eeeeee;">
	<columns small="6" valign="middle">
		<img src="{{defaultImgPath}}gwp1128ShowerPouf.jpg" width="276" height="auto" alt="Luxe Shower Pouf" />
	</columns>
	
	<columns small="6" valign="middle">
		<div class="right-padding-32">
			<h4 class="text-center" style="color: #9c0a0b; padding:0; margin-bottom: 0; line-height: 1;">
				<strong>FREE with</strong>
			</h4>
			<h4 class="text-center" style="color: #9c0a0b; padding:0; margin-bottom: 0; line-height: 1;">
				<strong>$10 PURCHASE</strong>
			</h4>
		
			<p class="text-center" style="margin-bottom:0; padding: 0;">Luxe Shower Pouf</p>
		
			<center><a href="http://www.burtsbees.com/content/holiday-gift-guide/holiday_gift_guide.html?cm_mmc=Email-_-11.28.16.Tiered_GWP_2of5-_-body1-_-shopnow1" ><img src="{{defaultImgPath}}freeShippingShopNow.jpg" width="272" height="64" alt="Shop Now" style="border: none;" /></a></center>
		</div>
		<spacer size="20"></spacer>
	</columns>
</row>

<row class="collapse" style="background: #eeeeee;">
	<columns small="6" valign="middle">
		<div class="left-padding-32">
			<h4 class="text-center" style="color: #9c0a0b; padding:0; margin-bottom: 0; line-height: 1;">
				<strong>FREE with</strong>
			</h4>
			<h4 class="text-center" style="color: #9c0a0b; padding:0; margin-bottom: 0; line-height: 1;">
				<strong>$25 PURCHASE</strong>
			</h4>
		
			<p class="text-center" style="margin:0; padding: 0;">Essential Canvas Bag</p>
		
			<center><a href="http://www.burtsbees.com/content/holiday-gift-guide/holiday_gift_guide.html?cm_mmc=Email-_-11.28.16.Tiered_GWP_2of5-_-body1-_-shopnow2"><img src="{{defaultImgPath}}freeShippingShopNow.jpg" width="272" height="64" alt="Shop Now" style="border: none;" /></a></center>
		</div>
	</columns>

	<columns small="6" style="padding-bottom: 0!important;" valign="middle">
		<img src="{{defaultImgPath}}gwp1128CanvasBag.jpg" width="300" height="auto" alt="Essential Canvas Bag" />
	</columns>
</row>


<row class="collapse" style="background: #eeeeee;">
	<columns small="6" valign="middle">
		<img src="{{defaultImgPath}}gwp1128FootCreme.jpg" width="276" height="auto" alt="Coconut Foot Creme" />
	</columns>
	
	<columns small="6" valign="bottom">
		<div class="right-padding-32">
			<h4 class="text-center" style="color: #9c0a0b; padding:0; margin-bottom: 0; line-height: 1;">
				<strong>FREE with</strong>
			</h4>
			<h4 class="text-center" style="color: #9c0a0b; padding:0; margin-bottom: 0; line-height: 1;">
				<strong>$45 PURCHASE</strong>
			</h4>
		
			<p class="text-center" style="margin:0; padding: 0;">Coconut Foot Creme</p>
		
			<center>
				<a href="http://www.burtsbees.com/content/holiday-gift-guide/holiday_gift_guide.html?cm_mmc=Email-_-11.28.16.Tiered_GWP_2of5-_-body1-_-shopnow3"><img src="{{defaultImgPath}}freeShippingShopNow.jpg" width="272" height="64" alt="Shop Now" /></a>
			</center>
			
			<spacer size="70"></spacer>
			
			<span class="text-center" style="margin-bottom: 0px; font-size: 12px!important;" valign="bottom">
				<a href="#" style="text-decoration: none!important; color: #493728;"><em>Offer valid until December 4th</em> <br style="margin: 0px!important;"><em>at 12AM EST or while supplies&nbsp;last</em></a>
			</span>
		</div>
	</columns>
</row>

<wrapper>
	<img src="{{defaultImgPath}}freeShippingWreath.jpg" width="600" height="auto" alt="Holiday Wreath" style="width: 100%; height: auto;" />
	
	<spacer size="40"></spacer>
</wrapper>

<row style="background: #ffffff;">
	<columns small="12" >
		<center>
			<img src="{{defaultImgPath}}giftsAvailableForAllCharacters.jpg" width="359" height="auto" alt="For All of Life's Characters" />
		</center>
		
		<h1 class="text-center holidayGuideHeadline"><strong>THERE'S OUR HOLIDAY GIFT&nbsp;GUIDE</strong></h1>
	
		<center>
			<spacer size="15"></spacer>
			
			<hr style="border-bottom-width: 4px; width: 125px!important;" />
			
			<spacer size="15"></spacer>
		</center>

		<p class="text-center specialSomeone" style="margin-bottom: 0px;">
			Your own little secret helper to find the perfect 
		</p>
		<p class="text-center specialSomeone" style="margin-bottom: 0px;">
			 presents for all your special someones.
			<spacer size="20"></spacer>
		</p>

		<center>
			<a href="http://www.burtsbees.com/the-mama-bee/?cm_mmc=Email-_-11.28.16.Tiered_GWP_2of5-_-body2-_-mamabee"><img src="{{defaultImgPath}}gwp1128MamaBee.jpg" width="561" height="auto" alt="The Mama Bee" style="border: none;" /></a>
		</center>

		<spacer size="10"></spacer>

		<center>
			<a href="http://www.burtsbees.com/the-worker-bee/?cm_mmc=Email-_-11.28.16.Tiered_GWP_2of5-_-body2-_-workerbee"><img src="{{defaultImgPath}}gwp1128WorkerBee.jpg" width="561" height="auto" alt="The Worker Bee"  style="border: none;" /></a>
		</center>	
		
		<spacer size="30"></spacer>
		
		<center><a href="http://www.burtsbees.com/content/holiday-gift-guide/holiday_gift_guide.html?cm_mmc=Email-_-11.28.16.Tiered_GWP_2of5-_-body2-_-shopgiftguide"><img src="{{defaultImgPath}}freeShippingShopOurGuide.jpg" width="451" height="auto" alt="Shop Our Gift Guide" class="float-center" style="border: none;" /></a></center>
		
		<spacer size="20"></spacer>
				
	</columns>
</row>

<table class="wrapper" align="center" style="border: 20px solid #f9d35b;">
  <tr>
    <td class="wrapper-inner">
		
		<row>	
			<columns small="12" style="background-color: #ffffff; padding-bottom: 0!important;" valign="middle">
				<spacer size="40"></spacer>

				<h1 class="text-center gift-builder-section" style="margin-bottom: 0px; line-height: 1;"><strong>HOLIDAY HOT PICKS</strong></h1>				
			</columns>
		</row>
		
		<row>
			<columns small="6" style="background-color: #ffffff; padding-bottom: 0!important;" valign="middle">
				<spacer size="25"></spacer>

				<center><img src="{{defaultImgPath}}freeShippingBestSellers.jpg" width="254" height="auto" alt="Best Sellers" style="width: 100%!important; height: auto;" /></center>
				<spacer size="30"></spacer>
				
				<center>
					<button href="http://www.burtsbees.com/shop/gifts/best-selling-gifts/?cm_mmc=Email-_-11.28.16.Tiered_GWP_2of5-_-body3-_-shopbestsellers" class="large red" style="background: #9e0b0f;"><strong>SHOP&nbsp;NOW</strong></button>
				</center>
				
				<spacer size="40"></spacer>
			</columns>

			<columns small="6" style="background-color: #ffffff; padding-bottom: 0!important;" valign="middle">
				<spacer size="25"></spacer>
				
				<center><img src="{{defaultImgPath}}freeShippingStockingStuffers.jpg" width="254" height="auto" alt="Stocking Stuffers" style="width: 100%!important; height: auto;" /></center>

				<spacer size="30"></spacer>
				
				<center>
					<button href="http://www.burtsbees.com/shop/gifts/stocking-stuffers/?cm_mmc=Email-_-11.28.16.Tiered_GWP_2of5-_-body3-_-shopstockingstuffers" class="large red" style="background: #9e0b0f;"><strong>SHOP&nbsp;NOW</strong></button>
				</center>
				
				<spacer size="40"></spacer>		
			</columns>		
		</row>	
    </td>
  </tr>
</table>