<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"  style="background-color: #ffffff!important;">
  <head>
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>{{ subjectGWP1219 }}</title>
  </head>
  <body  style="background-color: #ffffff!important;">
 
    <!-- <style> -->
 
    <span class="preheader">{{ previewGWP1219 }}</span>
	<table class="body" data-made-with-foundation> 
		<tr> 
			<td class="float-center" align="center" valign="top"> 
				<center>
					<container>
					{{> header }}
					{{> mainGWP1219}}
					{{> footer }}
					</container>
				</center>
			</td>
		</tr>
	</table>
	
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

